*.aux
final-draft-blx.bib
*.pdf
final-draft.blg
final-draft.bbl
final-draft.glg
final-draft.glo
final-draft.gls
final-draft.ist
final-draft.alg
final-draft.log
final-draft.lot
final-draft.run.xml
final-draft.lof
final-draft.acr
final-draft.acn
final-draft.synctex.gz
.final-draft.lb
final-draft.toc
final-draft.out
